.avatar {
  height: calc(6.25vh - 2px);
  width: calc(6.25vh - 2px);

  object-fit: cover;

  border-radius: 0.4em;
  border: solid 1px var(--primary-border-color);
}

.reaction {
  display: flex;

  padding: 4px;

  height: 1.3em;

  overflow: hidden;
  white-space: nowrap;

  background-color: var(--primary-bg-color);
  border-radius: var(--default-border-radius);
}

.emoji {
  height: 1.3em;
}
