.avatar {
  height: 6.25vh;
  width: 6.25vh;

  object-fit: cover;

  border-radius: 0.4em;
}

.reaction {
  display: flex;

  padding: 4px;

  height: 1.3em;

  overflow: hidden;
  white-space: nowrap;

  background-color: var(--primary-bg-color);
  border-radius: var(--default-border-radius);
}

.emoji {
  height: 1.3em;
}