.loginpage {
    margin: min(2%,20px);
    display: flex;
    flex-direction: column;
    align-items: center;

    width: max(20%,400px);
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
}
.pagehead {
    margin: 5px 3% 10px 3%;
    width: 94%;
    font-size: 120%;
    border-bottom: solid 1px;
}
.pageattention {
    margin: 0 3% 10px 3%;
    width: 94%;
    font-size: 90%;
}
.form_attention {
    display: flex;
    align-items: flex-end;

    margin: 0 5% 0 5%;
    width: 90%;
    font-size: 80%;
}
.form_alert {
    margin: 0 0 0 3%;
    font-size: 80%;
    color: var(--fontcolor-r);
}
.loginform_textinput {
    margin: 5px 0 0 0;
    width: 90%;
    height: 2em;
    border-radius: 2px;
}
.button {
    padding-left: 5px;
    padding-right: 5px;
    width: 15%;
    text-align: center;
    margin: 2% 0 2% 73%;
}
.loginswitch {
    margin: 0 5% 0 5%;
    width: 90%;
    text-align: right;
    font-size: 70%;

    text-decoration: underline;
}