.note {
    padding: 10px;
    margin: 3px 0 3px 0;
    display: flex;
    width: 100%;
    border-radius: 7px;
    
    background-color: var(--themecolor-300);
}
.article {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}
.user_icon {
    margin: 0;
    width: 10%;
    border-radius: 50%;
    height: auto;
    object-fit: cover;
}
.note_contents {
    width: 90%;
    margin: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.note_head {
    width: 96%;
    margin-bottom: 5px;

    border-bottom: solid 1px var(--bordercolor-w);

    display: flex;
    flex-direction: row;
    align-items: center;
}
.name {
    margin: 0;
    padding: 0 8px 0 0;
    font-size: 90%;
    white-space: nowrap;
	overflow: hidden;
}
.note_text {
    display: flex;
    flex-wrap: wrap;
    
    width: 92%;
    padding: 2%;
    background-color: var(--themecolor-400);
    border-radius: 3px;
    word-wrap: break-word;
}
.emoji {
    height: 1.5em;
}
.note_media {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    width: 96%;
    padding: 2%;
}
.medias {
    width: 48%;
    padding: 1%;
    border-radius: 7px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.media {
    width: 100%;
    border-radius: 7px;
    object-fit: cover;
}