:root {
  /*background color*/
  --primary-bg-color: #212121;

  --secondary-bg-color: #616161;
  --secondary-bg-color-invalid: #424242;

  --tertiary-bg-color: #9e9e9e;
  --tertiary-bg-color-invalid: #757575;

  /*button color*/
  --true-button-color: rgb(230, 230, 230);

  /*border color*/
  --primary-border-color: rgb(160, 160, 160);
  --secondary-border-color: rgb(150, 150, 150);

  /*text color*/
  --primary-text-color: rgb(230, 230, 230);
  --secondary-text-color: rgb(165, 165, 165);

  /*shadow color*/
  --shadow-color: rgba(58, 7, 28, 0.24);

  /* */
  --accent-color: rgb(255, 133, 184);
}
