:root {
  /*text size*/
  font-size: 100%;
  line-height: 1.3rem;

  /* avater size */
  --avater-size-L: 6.25vh;
  --avater-size-M: 4.25vh;

  /* height */
  --bottom-bar-height: 7.5vh;
  --display-height: calc(100vh - var(--bottom-bar-height));
  --head-bar-height: 4vh;

  /* margin */
  --primary-margin-w: 2.5vw;
  --primary-margin-h: 1vh;

  /* paddings */
  --primary-padding-w: var(--primary-margin-w);
  --primary-padding-h: var(--primary-margin-h);
}
