:root {
  /*background color*/
  --primary-bg-color: rgb(18, 18, 18);

  --secondary-bg-color: rgb(25, 25, 25);
  --secondary-bg-color-invalid: rgb(15, 15, 15);

  --tertiary-bg-color: rgb(30, 30, 60);
  --tertiary-bg-color-invalid: rgb(30, 30, 30);

  /*button color*/
  --true-button-color: rgb(255, 255, 255);

  /*border color*/
  --primary-border-color: rgb(255, 255, 255);

  /*text color*/
  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color: rgb(165, 165, 165);

  /*shadow color*/
  --shadow-color: rgba(58, 7, 28, 0.24);

  /* */
  --accent-color: rgb(255, 133, 184);
}
