:root {
  /*background color*/
  --primary-bg-color: rgb(255, 255, 255);
  --secondary-bg-color: color-mix(in srgb, var(--primary-bg-color), #000000 5%);
  --tertiary-bg-color: color-mix(in srgb, var(--primary-bg-color), #000000 10%);

  /*button color*/
  --true-button-color: rgb(255, 255, 255);

  /*border color*/
  --primary-border-color: rgb(200, 200, 200);

  /*text color*/
  --primary-text-color: rgb(20, 20, 20);
  --secondary-text-color: rgb(20, 20, 20);

  /*shadow color*/
  --shadow-color: rgba(7, 16, 58, 0.24);

  /* */
  --accent-color: rgb(133, 141, 255);
}
