@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@200&display=swap');
@import '../icon/fontello/css/fontello.css';

/*仮*/
@import './theme/light.css';
@import './device/mobile.css';
/**/

:root {
    /*color*/
    background-color: var(--primary-bg-color);

    /*font text*/
    --primary-font-size: 2em;

    color: var(--primary-text-color);
    font-family: 'M PLUS 1', sans-serif;
}

body { margin: 1; }

/*text*/
p,a,h1,h2,h3,h4,h5,h6 { margin: 0; }

.h1 {font-size: var(--primary-font-size); }
.h2 {font-size: calc(var(--primary-font-size) * 0.875); }
.h3 {font-size: calc(var(--primary-font-size) * 0.75); }
.h4 {font-size: calc(var(--primary-font-size) * 0.625); }

.emoji { height: 1.3em; }

/*form*/
input {
    margin: 0;
    padding: 0;

    font-family: 'M PLUS 1', sans-serif;

    border: none;
}
input:focus {
    outline: none;
}
